* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(189, 197, 224, 0.4), rgba(189, 197, 224, 0.5)), url(bb3.avif);
    background-size: cover;
    position: relative;
}

nav {
    height: 80px;
    width: 100%;
    background-color: #28587B;
    padding: 0px 100px;
    line-height: 80px;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #EEEEFF;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #28587B;
    transition: 0.5s;
    background: white;
}


.b02 {
    width: 100%;
    height: 60%;
    top: 0;
    margin-top: 85px;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
    padding-bottom: 10%;
} 


.b02:hover {
    opacity: 1;
}


.b03 {
    width: 95vh;
    margin: 6rem;
    margin-left: 600px;
    margin-right: 200px;
    padding: 20px;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(17, 15, 12);
    /* position: fixed; */
    background-color: #9FB4C7;
}

#b1 img {
    margin-top: 80px;
    margin-left: 250px;
    float: left;
    /* position: fixed; */

}

.b01 {
    display: flex;
    flex-direction: row;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
}
.content{
    font-size: 20px;
    margin: 30px; 
    padding: 30px; 
    text-align: justify; 
    border: solid 2px #28587B;
    
}

.cards .content {
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.l);
    background-color: #fff;
}
.content h2{
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    background-color: #28587B;
    color: #ffffff;
}
.content p{
    padding: 10px;
}

.container{
    max-width: 1170px;
    background-color: #24262b;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color:  #24262b;
    padding: 70px 0;
}
.footer-col{
width: 25%;
padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}